<!DOCTYPE html>
<html lang="nl">
{{> _head this }}

<body>

    <!-- Container -->
    <div class="container">
        {{> _nav this }}

        {{#block "content" }}
        {{/block}}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>

</body>
</html>