<!DOCTYPE html>
<html lang="nl">
{{> _head this }}

<body>

    <!-- Container -->
    <div class="container">

        <!-- Navigation -->
        {{> _nav this }}

        <!-- Page Header -->
        <div class="page-header">
            {{#block "page-header" }}{{/block}}
        </div>

        <!-- Content -->
        {{#block "content" }}{{/block}}

        <hr>
        <!-- Footer -->
        {{> _footer this }}
    </div>

    <!-- Modal -->
    <div id="modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/codemirror.min.js"></script>
    <script src="//cdn.jsdelivr.net/yasqe/2.7.2/yasqe.bundled.min.js"></script>
    <script src="//cdn.jsdelivr.net/yasqe/2.7.2/yasqe.min.js"></script>
    <script src="/js/min/explorer-min.js"></script>

</body>
</html>