<!DOCTYPE html>
<html lang="nl">
{{> _head this }}

<body>

    <!-- Container -->
    <div class="container">

        <!-- Navigation -->
        {{> _nav this }}

        <!-- Page Header -->
        <div class="page-header">
            {{#block "page-header" }}{{/block}}
        </div>

        <!-- Content -->
        {{#block "content" }}
        {{/block}}

        <hr>
        <!-- Footer -->
        {{> _footer this }}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>

</body>
</html>