{{#partial "page-header"}}
    <h1>Data <small>From the {{dataset}} dataset</small></h1>
{{/partial}}

{{#partial "content"}}
    <div class="table-responsive">
        <table class="table vertical-align-middle">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Predicate</th>
                    <th>Object</th>
                </tr>
            </thead>
            <tbody>
            <!--{{#each datasets}}-->
                <!--<tr>-->
                    <!--<td>{{ds_name}}</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
            <!--{{/each}}-->
            </tbody>
        </table>
    </div>
{{/partial}}

{{> base}}