{{#partial "page-header"}}
    <h1>SPARQL Query <small>Run a custom SPARQL query</small></h1>
    <p>Fill in the query you want to execute and press the play-button.</p>
{{/partial}}

{{#partial "content"}}
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-6">
                <label for="endpoint">Endpoint</label>
                <div class="input-group">
                    <div class="input-group-addon">http://localhost:3030/</div>
                    <input type="text" class="form-control" name="endpoint" id="endpoint">
                    <div class="input-group-addon">/query</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <label for="query">Query</label>
                <textarea name="query" id="query"></textarea>
            </div>
        </div>
        <a id="run-query" class="btn btn-success"><i class="fa fa-play"></i> Run</a>
    </form>

    <hr>

    <div class="table-responsive">
        <table id="results" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Predicate</th>
                    <th>Object</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
{{/partial}}

{{> base}}